doctype html
html
  head
    title Juke Box Music 
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(type="text/css",rel="stylesheet",href="css/materialize.min.css"  media="screen,projection")
    link(rel='stylesheet', href='/css/admin.css')
    link(href="https://file.myfontastic.com/mviSKdfhE38dRWv56TDq9E/icons.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.valign-wrapper
    .container#containerMain
    script(src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js")
    script(type="text/javascript",src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="js/admin/youtube.js")
    script(src="js/materialize.min.js")
    script(src="js/admin/app.js")