form
  .input-field
    i.material-icons.prefix search
    input#buscarArtista(type="search")
    label(for="buscarArtista") Buscar
ul.collection
    li.collection-item.avatar.valign-wrapper.artista
      img(src="https://pbs.twimg.com/profile_images/920292904102514690/ZyPhM8ZF_400x400.jpg", alt="",class="circle")
      span.title The Beatles      
      a(href="#!",class="secondary-content")
        i.material-icons send
    li.collection-item.avatar.valign-wrapper.artista
      img(src="http://www.spirit-of-metal.com/les%20goupes/A/AC-DC/pics/1344293_logo.jpg", alt="",class="circle")
      span.title ACDC
      a(href="#!",class="secondary-content")
        i.material-icons send
    li.collection-item.avatar.valign-wrapper.artista
      img(src="https://i.pinimg.com/736x/40/4b/fb/404bfbd9ad2c586fe2340346f178f279--pink-floyd-logo-pink-floyd-dark-side.jpg", alt="",class="circle")
      span.title Pink Floyd      
      a(href="#!",class="secondary-content")
        i.material-icons send