div
  .input-field
    i.material-icons.prefix search
    input#buscarCancion(type="search")
    label(for="buscarCancion") Buscar
ul.collection#listCanciones
    li.collection-item.avatar.valign-wrapper.cancion
      img(src="http://www.sopitas.com/wp-content/uploads/2015/05/letitbe-e1431108985814.jpg", alt="",class="circle")
      p.title Let it Be
        br
        small Let it Be - The Beatles
      a(href="#!" class="rigth-align")
        i.material-icons play_arrow