extends layout

block content    
    include navbar.pug    
    main.container#content.hide
        #reproductor.col.s12
            include reproductor.pug
        #artistas.col.s12
            include artistas.pug
        #albums.col.s12
            include albums.pug
        #canciones.col.s12
            include canciones.pug
    #modal.modal
        .modal-content      
        .modal-footer
block scripts
    script(src="js/app.js")