ul.collection#reproductorList
    li.collection-item Cancion  1
    li.collection-item Cancion  2
    li.collection-item.cancionPropia
        div Cancion 3
            a(href="#",class="secondary-content")
                i.material-icons.red-text delete
    li.collection-item Cancion  4
    li.collection-item Cancion  5
    li.collection-item Cancion  6