ul.tabs
    li.tab.col.s3
        a.valign-wrapper(href="#reproductor")
            i.material-icons play_arrow
    li.tab.col.s3
        a.valign-wrapper(href="#artistas")
            i.material-icons supervisor_account
    li.tab.col.s3.valign-wrapper
        a.valign-wrapper(href="#albums")
            i.material-icons album
    li.tab.col.s3
        a.valign-wrapper(href="#canciones")
            i.material-icons music_note