.cancion{
    justify-content: space-between;
}
.cancion a{
    color:rgb(38, 166, 154);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: #fff;
  }

  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #e91e63;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
  }

  
  #error-msg,.error-msg{
      color: red;
      font-weight: bold;
      padding-top: 10px;
  }
  #valid-msg{
      color: green ;
      font-weight: bold;
      padding-top: 10px;
  }


  .intl-tel-input {
      width: 100% !important;
  }

.social{ 
    background-color:black;
    margin:0 5px;
}

.icon-facebook{
    background-color: #4267b2;
}

.icon-twitter{
    background-color:#1da1f2;
}
.icon-gmail{
    background-color:#d14836;
}

#creditosU{
    padding-right: .5em;
    display: block;
}

#creditosU::before{
    content:"Creditos $";
}
@media only screen and (max-width: 992px){
.modal {
    width: 95%;
}
}